{% extends "layout.html" %}

{% block title %}History{% endblock %}

{% block main %}
    <article>
        {% if not history %}
            <h2>You are either not logged in or not had an account or not searched anything</h2>
            <section>
                <p><span class="antonyms">Note</span> For using this part you must login</p>
            </section>
        {% else %}
            <h2>History</h2>
            <section>
                {% for q in history %}
                    <span class="example">{{ q["word"] }}</span>
                {% endfor %}
            </section>
        {% endif %}
    </article>
{% endblock %}
