{% extends "layout.html" %}

{% block title %}
    Dictionary
{% endblock %}

{% block main %}
    <article>
        <section>
            <h1>
                <span>Welcome</span>
                <span>To The</span>
                <span>Dictionary</span>
            </h1>
            <section>
                <p>To start, write <span class="example">something</span> in the above input</p>
            </section>
            <section>
                <p><span class="antonyms">Note</span> To save your history for future purposes, you must sign in</p>
            </section>
        </section>
    </article>
{% endblock %}